<ion-header>
  <ion-item>
    <ion-button size="small" slot="end" (click)="closeModal()" color="primary">Fechar</ion-button>
    <ion-input placeHolder="Pesquisar" [(ngModel)]="searchText" debounce="500" (ionChange)="searchByName()"></ion-input>
  </ion-item>
</ion-header>

<ion-content>
  <div padding>
    <code><b>selectedItem:</b> {{selectedItem | json}}</code>
  </div>

  <ion-list>
    <ion-radio-group [(ngModel)]="selectedItem">    
      <ion-item *ngFor="let item of list"> 
        <ion-label>{{item.name}}</ion-label>
        <ion-radio slot="start" [(value)]="item" [checked]="item.code === selectedItem.code"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="search($event)">
    <ion-infinite-scroll-content loadingSpinner="undefined" loadingText=""></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="selectItem()" color="primary">Selecionar</ion-button>
  </ion-toolbar>
</ion-footer>